body {
  background: url('corbyhaaslogo.jpg');
  font-family: 'Coming Soon', arial, serif;
  font-size: large;
  line-height: 150%;
}

#content {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: thick black solid;
  padding: 50px;
  width: 600px;
}

#header, #subheader {
  font-size: xx-large;
  font-weight: bold;
  margin: 0.3em;
}
#subheader {
  font-size: large;
}
#subheader span { border-bottom: thin black solid; }
#price span { border-bottom: thin black solid; }
#datetime { }
#plug { }
#venue { }
#venue a, #venue a.visited {
  text-decoration: none;
  color: blue;
}
#address { }
#price { font-size: x-large; }
#likebox { margin-top: 20px; }

#faq li {
  list-style-type: none;
  text-align: left;
}
/* #faq h3 { border-top: thin black solid; */
